main {
    display: inline-block;
    background-color: lightblue;
}
  
h1 {
    display: block;
    color: hsl(240,100,25);
    margin-left: 20px;
    text-align: center;
}

h2 {
    text-align: center;
}
.box {
    border: 5px solid green;
    margin: auto;
    margin-right: 15px;
    padding: 25px;
    padding-left: 20px;
    border-style: double;
    border-color: aqua;
    border-width: 1cm;
    border-radius: 20mm;
    border-bottom-right-radius: 2em 10%;
    color: rgb(15, 7, 7);
}

.box2 {
    width: 350px;
    height: 150px;
    margin: 10px;
    margin: bottom 5px;
    padding: top 20px;
    border-style:dotted;
    border-color: rgba(72, 0, 255, 0.811);
    border-width: 1cm;
    border-radius: 10px;
    border-bottom-right-radius: 2em 10%;
    color: rgb(17, 5, 5);
}

.container {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    justify-content: space-evenly;
}

.flexitem {
    flex-shrink:3;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2px;
    background-color: burlywood;
}

.item{
    grid-column-start: 1;
    grid-column-end: 3;
}

button:hover{
    color:cadetblue;
}

button:active{
    color:green;
}

@media (max-width:1250px){
    .wrapper {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-column-gap: 2px;
        background-color: burlywood;
    }
}

@font-face {
    font-family: "brunoAce";
    src: url(https://fonts.google.com/download?family=Bruno%20Ace);
}

#unfParagraph {
    font-family: "brunoAce";
}

a[href="https://github.com/jackmontoro/JackMontoro_Lab2"] {
    text-decoration: blue wavy underline;
}

*.wrapper {
    color:black;
}

ol, ul {
    color:orange;
}